@model Project3.Models.Service

@{
    Layout = BaseText.AdminLayout;
}


<div class="container " style="min-height:100vh ;width:100vw; background-color:white;padding:2rem">
    <div style="display:flex;justify-content:space-between;align-items:center">
        <h1 class="mb-3">Edit Service</h1>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
    <div bg bg-danger" style="width:100%">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden asp-for="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

   
            <div class="form-group">
                <input type="submit" value="finished" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

