@{
    ViewData["Title"] = "Confirm Reset Password";
}

<h1>@ViewData["Title"]</h1>
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}


<form asp-action="ConfirmResetPassword" method="post">
    <input type="hidden" name="userId" value="@ViewData["UserId"]" />
    <input type="hidden" name="token" value="@ViewData["Token"]" />

    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" class="form-control" id="newPassword" name="newPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>